.modal.closed {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  opacity: 1;
  transition: opacity 100ms;
  animation: fadeIn 1000ms;

  .overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--opaque);
  }

  .modal-popup {
    background: var(--background);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid;
    border-radius: 2em;
    padding: 1.5em;
  }

  .close-button {
    --size: 1.5em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    border: 1.5px solid;
    border-radius: 0.3em;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    text-align: center;
    cursor: pointer;
    color: red;
    user-select: none;
  }
}
