.modal.closed {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  opacity: 1;
  transition: opacity 100ms;
  animation: fadeIn 100ms;

  .content {
    position: relative;
    padding: 1.5em;
    overflow: auto;
    max-width: 85vw;
    max-height: 85vh;
  }

  .modal-popup {
    background: var(--background);
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    border: 3px solid;
    border-radius: 2em;
  }
}
